---
import { BrightSection, TextSection, TitleSection, ParallaxSection, FlipHeadshot } from 'jm-srf-components';
import { Picture, Image } from 'astro:assets';
import Layout from '../layouts/Page.astro';

import bannerLogo from '@assets/logos/srf_capital_banner_edgeL.png'
import accentImg from '@people/pexels-biova-nakou-1471843.jpg'
import diversityCompetitiveImg from '@people/pexels-muhammadtaha-ibrahim-4476358.jpg'

import headshotDorian from '@headshots/dorian.jpg'
import headshotCharles from '@headshots/charles.jpg'
import headshotDavid from '@headshots/david.jpg'
import headshotTheresa from '@headshots/theresa.jpg'
import headshotAnnalise from '@headshots/annalise.jpg'
import headshotMarcia from '@headshots/marcia.jpg'
import groupShot from '@headshots/DavidDorianCharles_v1_040924.00_04_48_03.Still002.jpg'

const seo = {
	title: 'SRF Capital ❦ About Us',
	description: 'Our mission is to partner with the world’s brightest and most empathetic leaders to build the sustainable and equitable economies of the future.',
};
---

<Layout {seo}>
  <TitleSection
    primaryImage={null}
    accentImage={null}
    bannerImage={bannerLogo}
    deck="SRF Capital partners with the world’s brightest and most empathetic leaders to build the sustainable and equitable economies of the future."
    hideBrightSection={true}
  >
  </TitleSection>
  <ParallaxSection
    backgroundImage={accentImg}
    tint={false}
  />
  <BrightSection>
    <h2>Mission</h2>
    <p>SRF Capital partners with the world’s brightest and most empathetic leaders to deploy capital at its highest calling and best use to build the enduring, equitable economies of the future.</p>

    <h2>Vision</h2>
    <p>We are driven by our commitment to ensuring that all people experience and live out their highest callings and deepest joys. When frontier and emerging communities are physically, emotionally, educationally, and economically thriving, the roadmap for a joyful and resilient future unfolds for us all.</p>
    <p>We act in alignment with the following five values:</p>
  </BrightSection>
  <TextSection>
    <h2>Success with Honor</h2>
    <p>We lead with discipline, integrity, and humility. We pursue performance without compromising principle and strive to be the first amongst equals in every room we enter.</p>

    <h2>Capital with Purpose</h2>
    <p>We believe capital, at its highest calling, is a tool to unlock freedom, build trust, and expand what is possible for people and markets. We invest to grow with communities and generate long-term value for all stakeholders.</p>

    <h2>Proximity with Purpose</h2>
    <p>We invest close to the opportunity. We stay proximate to the context, relationships, and realities that drive long- term performance.</p>

    <h2>Trust is the Strategy</h2>
    <p>We are impeccable with our word. We say what we mean and do what we say, knowing trust builds value that money can’t buy. As such, we invest in people and build relationships that compound over time.</p>

    <h2>G.A.S. (Give A Shit)</h2>
    <p>We care deeply about what our capital touches and transforms. We give a shit about the outcomes and believe love and empathy are our competitive advantage, they are how we find the hidden and overlooked corners of the market.</p>
  </TextSection>

  <ParallaxSection backgroundImage={diversityCompetitiveImg}>
    <h2>Compassion is a Competitive Advantage</h2>
    <p>We believe that compassion, expressed through proximity, lived experience, and moral imagination, is one of the most undervalued drivers of innovation and performance. By engaging people and perspectives that are closely connected to the challenges we aim to solve, we unlock deeper insight, creative problem-solving, and more enduring outcomes. This approach strengthens our ability to generate meaningful change alongside measurable, long-term value.</p>

    <p>Traditional capital often treats social progress and economic return as separate pursuits. Our philosophy integrates them, recognizing that the best solutions are those that honor both human dignity and sustainable growth. We aim to create a new systems-level “normal” that brings together the invisible hand of the market with the moral heart of a just and compassionate economy.</p>

    <p>By supporting solutions aligned with the spirit of the United Nations’ <a href="/whealth+#sdgs">Sustainable Development Goals</a> and advancing models that are regenerative rather than extractive, we seek to address root causes, build resilience, and co-create the inclusive economies of the future.</p>

    <p>Accountability is shaped by the values, aspirations, and lived realities of the communities we serve.</p>
  </ParallaxSection>

  <TextSection>
    <h2>Work With Us</h2>
    <p>SRF Capital brings together investors, operators, researchers, and mission-driven professionals from a range of disciplines who are united by a shared commitment: to reimagine how wealth and health are created and sustained. We invite you to work alongside a team where accountability and outcomes are rooted in communities’ values, aspirations, and visions and where we believe <strong>love and an understanding of culture, history and legacy is our competitive advantage</strong>.</p>

    <section id="team" class="bios headgrid">
      <FlipHeadshot href="/meet/dorian" image={headshotDorian} name="Dr. Dorian Burton"/ title="CEO & Managing Partner">
      <FlipHeadshot href="/meet/charles" image={headshotCharles} name="Charles Rush" title="Partner & General Counsel"/>
      <FlipHeadshot href="/meet/david" image={headshotDavid} name="David Dix" title="Partner, Government Affairs"/>
      <FlipHeadshot href="/meet/theresa" image={headshotTheresa} name="Theresa Zawacki" title="Chief of Staff"/>
      <FlipHeadshot href="/meet/annalise" image={headshotAnnalise} name="Annalise Venhuizen Kontras" title="Special Assistant to Managing Partner & CEO"/>
      <FlipHeadshot href="/meet/marcia" image={headshotMarcia} name="Marcia Dix" title="Executive Vice President of Communications"/>
    </section>
  </TextSection>
</Layout>
