---
import { TextSection } from 'srf-theme-components';
import { PageSection, TitleSection } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';
import HeroSection from '../components/sections/heros/HeroSection.astro';

import primaryImg from '../../../../assets/imagery/people/pexels-sabina-kallari-12835892.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves14.png';

import CommunityMapImg from '../assets/srf_whealthy_community_map.svg'

const seo = {
	title: 'SRF Impact ❦ (W)Healthy Communities',
	description: '',
};
---

<Layout {seo}>
	<TitleSection
    title="Community"
    deck="Our vision for a (W)Healthy Community"
    accentImage={accentImg}
    primaryImage={primaryImg}
  />
	<PageSection>
		<svg slot="aside" id="whealthy-community-map" viewBox="0 0 1080 1081" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
				<g id="whealthy-community-map" transform="matrix(-6.2903,-0.000881257,0,29.7022,7244.74,-3611.57)">
						<rect x="980.039" y="121.627" width="171.693" height="36.361" style="fill:#edede9;"/>
						<g id="people-neighborhoods-government" serif:id="people neighborhoods government" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1159.69,121.621)">
								<g id="circle" transform="matrix(0.799765,0,0,0.799765,319.375,220.53)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g id="label" transform="matrix(2.28725,0,0,2.28725,-95.7395,-592.955)">
										<g transform="matrix(12,0,0,12,327.124,551.22)">
										</g>
										<text x="272.032px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Neighbors</text>
								</g>
								<g id="icon" transform="matrix(1,0,0,1,566.033,516)">
										<path d="M24,22C29.523,22 34,26.477 34,32L34,44L30,44L30,32C30,28.805 27.502,26.193 24.353,26.01L24,26C20.805,26 18.193,28.498 18.01,31.647L18,32L18,44L14,44L14,32C14,26.477 18.477,22 24,22ZM11,28C11.558,28 12.1,28.065 12.62,28.188C12.284,29.188 12.077,30.244 12.018,31.339L12,32L12.001,32.171C11.775,32.091 11.536,32.037 11.289,32.014L11,32C9.441,32 8.159,33.19 8.014,34.711L8,35L8,44L4,44L4,35C4,31.134 7.134,28 11,28ZM37,28C40.866,28 44,31.134 44,35L44,44L40,44L40,35C40,33.441 38.81,32.159 37.289,32.014L37,32C36.65,32 36.313,32.06 36.001,32.17L36,32C36,30.669 35.783,29.388 35.383,28.191C35.9,28.065 36.442,28 37,28ZM11,16C13.761,16 16,18.239 16,21C16,23.761 13.761,26 11,26C8.239,26 6,23.761 6,21C6,18.239 8.239,16 11,16ZM37,16C39.761,16 42,18.239 42,21C42,23.761 39.761,26 37,26C34.239,26 32,23.761 32,21C32,18.239 34.239,16 37,16ZM11,20C10.448,20 10,20.448 10,21C10,21.552 10.448,22 11,22C11.552,22 12,21.552 12,21C12,20.448 11.552,20 11,20ZM37,20C36.448,20 36,20.448 36,21C36,21.552 36.448,22 37,22C37.552,22 38,21.552 38,21C38,20.448 37.552,20 37,20ZM24,4C28.418,4 32,7.582 32,12C32,16.418 28.418,20 24,20C19.582,20 16,16.418 16,12C16,7.582 19.582,4 24,4ZM24,8C21.791,8 20,9.791 20,12C20,14.209 21.791,16 24,16C26.209,16 28,14.209 28,12C28,9.791 26.209,8 24,8Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="housing" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1159.69,121.621)">
								<g id="label1" serif:id="label" transform="matrix(2.28725,0,0,2.28725,-425.287,-973.571)">
										<g transform="matrix(12,0,0,12,321.73,551.22)">
										</g>
										<text x="277.426px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Housing</text>
								</g>
								<g id="circle1" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,-10.0346,-160.388)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g id="icon1" serif:id="icon" transform="matrix(1,0,0,1,236.623,135.741)">
										<path d="M38,42L10,42C8.895,42 8,41.105 8,40L8,22L2,22L22.655,3.223C23.417,2.53 24.583,2.53 25.345,3.223L46,22L40,22L40,40C40,41.105 39.105,42 38,42ZM12,38L36,38L36,18.315L24,7.406L12,18.315L12,38Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="healthcare-people" serif:id="healthcare people" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1159.69,121.621)">
								<g id="label2" serif:id="label" transform="matrix(2.28725,0,0,2.28725,-425.287,-260.24)">
										<g transform="matrix(12,0,0,12,328.528,551.22)">
										</g>
										<text x="270.628px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Healthcar<tspan x="322.36px " y="551.22px ">e</tspan></text>
								</g>
								<g id="circle2" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,-10.0346,552.943)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g transform="matrix(1,0,0,1,236.623,847.424)">
										<path d="M16,40L16,28L32,28L32,40L38,40L38,8L10,8L10,40L16,40ZM20,40L28,40L28,32L20,32L20,40ZM42,40L46,40L46,44L2,44L2,40L6,40L6,6C6,4.895 6.895,4 8,4L40,4C41.105,4 42,4.895 42,6L42,40ZM22,16L22,12L26,12L26,16L30,16L30,20L26,20L26,24L22,24L22,20L18,20L18,16L22,16Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="businesses-healthcare" serif:id="businesses healthcare" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1159.69,121.621)">
								<g id="label3" serif:id="label" transform="matrix(2.28725,0,0,2.28725,233.533,-973.571)">
										<g transform="matrix(12,0,0,12,328.516,551.22)">
										</g>
										<text x="270.64px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Businesses</text>
								</g>
								<g id="circle3" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,648.785,-160.388)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g transform="matrix(1,0,0,1,895.443,134.092)">
										<path d="M42,26.484L42,40L44,40L44,44L4,44L4,40L6,40L6,26.484C3.588,24.87 2,22.12 2,19C2,17.346 2.449,15.752 3.266,14.395L8.691,5C9.048,4.381 9.708,4 10.423,4L37.577,4C38.292,4 38.952,4.381 39.309,5L44.715,14.363C45.551,15.752 46,17.346 46,19C46,22.12 44.412,24.87 42,26.484ZM38,27.945C37.672,27.981 37.338,28 37,28C34.482,28 32.158,26.956 30.5,25.226C28.842,26.956 26.518,28 24,28C21.482,28 19.158,26.956 17.5,25.226C15.842,26.956 13.518,28 11,28C10.662,28 10.328,27.981 10,27.945L10,40L38,40L38,27.945ZM11.577,8L6.712,16.426C6.248,17.197 6,18.078 6,19C6,21.761 8.239,24 11,24C13.062,24 14.889,22.741 15.644,20.859C16.315,19.184 18.685,19.184 19.356,20.859C20.111,22.741 21.938,24 24,24C26.062,24 27.889,22.741 28.644,20.859C29.315,19.184 31.685,19.184 32.356,20.859C33.111,22.741 34.938,24 37,24C39.761,24 42,21.761 42,19C42,18.078 41.752,17.197 41.269,16.395L36.423,8L11.577,8Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="government-people-neighborhoods" serif:id="government people neighborhoods" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1212.05,121.622)">
								<g id="label4" serif:id="label" transform="matrix(2.28725,0,0,2.28725,233.533,-260.24)">
										<g transform="matrix(12,0,0,12,332.488,551.22)">
										</g>
										<text x="266.668px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Gov<tspan x="287.368px " y="551.22px ">e</tspan>rnment</text>
								</g>
								<g id="circle4" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,648.785,552.943)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g id="icon2" serif:id="icon" transform="matrix(1,0,0,1,895.443,847.424)">
										<path d="M40,12L46,12L46,16L44,16L44,38L46,38L46,42L2,42L2,38L4,38L4,16L2,16L2,12L8,12L8,8C8,6.895 8.895,6 10,6L38,6C39.105,6 40,6.895 40,8L40,12ZM40,16L8,16L8,38L14,38L14,24L18,24L18,38L22,38L22,24L26,24L26,38L30,38L30,24L34,24L34,38L40,38L40,16ZM12,10L12,12L36,12L36,10L12,10Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="neighborhoods-government" serif:id="neighborhoods government" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1159.69,121.621)">
								<g id="label5" serif:id="label" transform="matrix(2.28725,0,0,2.28725,-95.8767,-973.571)">
										<g transform="matrix(12,0,0,12,340.654,551.22)">
										</g>
										<text x="258.502px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Neighborhoods</text>
								</g>
								<g id="circle5" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,319.375,-160.388)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g id="icon3" serif:id="icon" transform="matrix(1,0,0,1,566.033,134.092)">
										<path d="M42,42L6,42C4.895,42 4,41.105 4,40L4,24.974C4,24.396 4.25,23.846 4.686,23.466L12,17.089L12,8C12,6.895 12.895,6 14,6L42,6C43.105,6 44,6.895 44,8L44,40C44,41.105 43.105,42 42,42ZM18,38L24,38L24,25.883L16,18.908L8,25.883L8,38L14,38L14,30L18,30L18,38ZM28,38L40,38L40,10L16,10L16,14.255C16.469,14.255 16.938,14.419 17.314,14.747L27.314,23.466C27.75,23.846 28,24.396 28,24.974L28,38ZM32,22L36,22L36,26L32,26L32,22ZM32,30L36,30L36,34L32,34L32,30ZM32,14L36,14L36,18L32,18L32,14ZM24,14L28,14L28,18L24,18L24,14Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="culture" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1107.32,121.619)">
								<g id="label6" serif:id="label" transform="matrix(2.28725,0,0,2.28725,-95.8767,-260.24)">
										<g transform="matrix(12,0,0,12,318.964,551.22)">
										</g>
										<text x="280.192px" y="551.22px" style="font-family:'EbonySb', 'Ebony';font-weight:600;font-size:12px;fill:#c8bcc4;">Cultur<tspan x="312.796px " y="551.22px ">e</tspan></text>
								</g>
								<g id="circle6" serif:id="circle" transform="matrix(0.799765,0,0,0.799765,319.375,552.943)">
										<circle cx="338.422" cy="398.218" r="97.644" style="fill:#c8bcc4;"/>
								</g>
								<g transform="matrix(1,0,0,1,566.033,847.539)">
										<path d="M23.722,4.781C25.699,3.463 28.267,3.436 30.272,4.711L38.582,10L42,10C43.104,10 44,10.895 44,12L44,30C44,31.104 43.104,32 42,32L38.96,32C39.079,33.894 38.187,35.82 36.391,36.898L26.204,43.01C24.918,43.781 23.322,43.763 22.063,42.995C20.662,44.233 18.506,44.37 16.942,43.141L6.661,35.062C5.128,33.858 4.74,31.801 5.532,30.169C4.565,29.411 4,28.251 4,27.022L4,12C4,10.895 4.895,10 6,10L15.894,10L23.722,4.781ZM8.345,27.29L9.729,26.079C12.19,23.926 15.921,24.14 18.12,26.559L23.524,32.504C25.263,34.417 25.581,37.227 24.316,39.478L34.333,33.468C34.896,33.13 35.099,32.455 34.89,31.887L26.035,19.491C25.538,18.795 24.653,18.492 23.833,18.738L18.863,20.229C16.749,20.863 14.457,20.285 12.896,18.725L12.31,18.139C11.174,17.003 10.881,15.386 11.359,14L8,14L8,27.022L8.345,27.29ZM28.124,8.086C27.456,7.661 26.6,7.67 25.941,8.109L15.139,15.311L15.724,15.896C16.245,16.417 17.009,16.609 17.713,16.398L22.684,14.907C25.143,14.169 27.798,15.077 29.29,17.166L37.029,28L40,28L40,14L38.582,14C37.821,14 37.076,13.783 36.434,13.375L28.124,8.086ZM12.363,29.09L9.132,31.917L19.413,39.996L20.821,37.532C21.251,36.779 21.148,35.836 20.565,35.194L15.16,29.249C14.427,28.443 13.184,28.372 12.363,29.09Z" style="fill:#323835;fill-rule:nonzero;"/>
								</g>
						</g>
						<g id="slots">
								<g id="line-people-businesses-neighborhoods-government1" serif:id="line people businesses neighborhoods government" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
										<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:5.56px;"/>
								</g>
								<g id="line-housing1" serif:id="line housing" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
										<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:5.56px;"/>
								</g>
								<g id="line-neighborhoods-businesses-healthcare1" serif:id="line neighborhoods businesses healthcare" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
										<path d="M715.315,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:5.56px;"/>
								</g>
								<g id="line-people-culture1" serif:id="line people culture" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1160.83,121.621)">
										<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:6px;"/>
								</g>
								<g id="line-healthcare1" serif:id="line healthcare" transform="matrix(0.158975,4.71676e-06,0,0.0724636,970.942,87.8074)">
										<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:3.58px;"/>
								</g>
								<g id="line-people-healthcare-businesses1" serif:id="line people healthcare businesses" transform="matrix(0.158975,4.71676e-06,0,0.0336676,970.942,121.615)">
										<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:6px;"/>
								</g>
								<g id="line-people-government-neighborhoods-housing1" serif:id="line people government neighborhoods housing" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1160.83,121.621)">
										<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:6px;"/>
								</g>
								<g id="line-people-housing1" serif:id="line people housing" transform="matrix(0.158975,4.71676e-06,-2.24344e-17,-0.038796,970.942,160.745)">
										<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:5.56px;"/>
								</g>
								<g id="line-people-neighborhoods1" serif:id="line people neighborhoods" transform="matrix(0.158975,4.71676e-06,-2.24344e-17,-0.038796,970.942,160.745)">
										<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:5.56px;"/>
								</g>
								<g id="line-government1" serif:id="line government" transform="matrix(0.158975,4.71676e-06,-4.19032e-17,-0.0724636,970.942,190.084)">
										<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#c8bcc4;stroke-width:3.58px;"/>
								</g>
						</g>
						<g id="line-people-businesses-neighborhoods-government" serif:id="line people businesses neighborhoods government" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
								<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-housing" serif:id="line housing" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
								<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-neighborhoods-businesses-healthcare" serif:id="line neighborhoods businesses healthcare" transform="matrix(-0.158975,-4.71676e-06,-2.24344e-17,-0.038796,1160.83,160.751)">
								<path d="M715.315,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-people-culture" serif:id="line people culture" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1160.83,121.621)">
								<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-healthcare" serif:id="line healthcare" transform="matrix(0.158975,4.71676e-06,0,0.0724636,970.942,87.8074)">
								<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-people-healthcare-businesses" serif:id="line people healthcare businesses" transform="matrix(0.158975,4.71676e-06,0,0.0336676,970.942,121.615)">
								<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-people-government-neighborhoods-housing" serif:id="line people government neighborhoods housing" transform="matrix(-0.158975,-4.71676e-06,0,0.0336676,1160.83,121.621)">
								<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-people-housing" serif:id="line people housing" transform="matrix(0.158975,4.71676e-06,-2.24344e-17,-0.038796,970.942,160.745)">
								<path d="M715.315,540L761.927,540L761.927,871.424L808.54,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-people-neighborhoods" serif:id="line people neighborhoods" transform="matrix(0.158975,4.71676e-06,-2.24344e-17,-0.038796,970.942,160.745)">
								<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
						<g id="line-government" serif:id="line government" transform="matrix(0.158975,4.71676e-06,-4.19032e-17,-0.0724636,970.942,190.084)">
								<path d="M715.315,540L761.927,540L761.927,871.424L715.315,871.424" style="fill:none;stroke:#e74c34;stroke-width:6px;visibility:hidden;"/>
						</g>
				</g>
		</svg>
		<div slot="text" id="srf-map-descriptions">
			<h2>What Does a (W)Healthy South Look Like?</h2>
			<p>We envision thriving communities dotting the American South and the following are eight community characteristics that provide safety and opportunity for their residents.</p>

			<div class="key" id="neighborhoods">
				<h3>Safe Neighborhoods & Community Autonomy</h3>
				<p>Residents should feel secure and safe in their home and in their neighborhood, free from the presence of violence and/or overly policed environments.</p>
				<p>Neighbors should have the collective autonomy and resources to find solutions to their problems, with the unencumbered and “no-strings-attached” support of private and public partners.</p>
			</div>

			<div class="key" id="businesses">
				<h3>Plentiful Employment and Business Opportunities</h3>
				<p>Residents must have the basic means to acquire and access work opportunities within their community that provide a safety net, while working to develop and  invest in wealth-building opportunities.</p>
				<p>Jobs should have basic benefits, career building opportunities, wealth-building opportunities, and a fair and engaging workplace.</p>
				<p>Communities should have a critical mass of business ownership to prevent economic leakage by ensuring that dollars and resources remain in the community and that long-term wealth generation can be built.</p>
				<p>Local businesses should be competitive and integrated into their regional economies. They should be included in the finance, technology, and information networks regarding trading partners to learn how information flows to both existing businesses and new entrepreneurs.</p>
			</div>

			<div class="key" id="housing">
				<h3>Safe, Affordable and Secure Housing</h3>
				<p>Well-maintained housing should be affordable for current residents and market rate financing and insurance should be affordable for housing investments.</p>
			</div>

			<div class="key" id="government">
				<h3>Truly Representative Local Governments</h3>
				<p>Neighborhoods should have equal voice in determining local political outcomes without systemic barriers and, as tax-paying citizens, receive quality services without having to spend continuous energy and resources on advocacy.</p>
				<p>Communities should be <strong>free of predatory revenue streams</strong> collected by municipalities, counties, and cities, and predatory financial institutions.</p>

				<h3>Safe and Effective Schools</h3>
				<p>Schools should provide students civics lessons and teach them how our government entities operate. Students should acquire the skills and necessary habits to make educated decisions and to positively contribute to our democratic system.</p>
				<p>Students should acquire levels of academic proficiency needed to attend college or  secure some type of post-secondary vocational certification with labor market value that leads to gainful employment and a career of their choosing.</p>
				<p>School curriculums and instructions should be culturally competent and responsive, while ensuring that students learn social connectivity and self-efficacy/agency.</p>

				<h3>A Fair Justice System</h3>
				<p>People should be tried by a jury of their peers and people from their immediate communities when they are brought to trial.</p>
				<p>Neighbors should be supported by the criminal justice system in their community-based (W)Health justice practices and self-policing activity.</p>
			</div>

			<div class="key" id="healthcare">
				<h3>Access to Reliable and Affordable Health Care</h3>
				<p>Reliable and affordable health care should be readily available with quality physicians and practitioners focused on the health and well-being of their patients through quality health care, nutritious food, and physical activity.</p>
				<p>Communities should have access to fresh, affordable produce and local groceries in close proximity to where they live.</p>
			</div>

			<div class="key" id="culture">
				<h3>Control over Their Public Identity and Cultural Institutions</h3>
				<p>Communities should have equal representation in media outlets while being able to offer comprehensive narratives on their community and the way media represents them to external parties.</p>
				<p>Public arts and cultural institutions should have dedicated spaces that reflect community interest. Institutions that celebrate a community’s culture and heritage should be readily available, as should creative spaces that expose residents to a diversity of different cultural, ethnic, social, and sexual orientations.</p>
			</div>

		</div>
	</PageSection>
</Layout>

<style lang="scss">
	#whealthy-community-map {
		max-height: 100vh;
		position: sticky;
		top: 4rem;
	}

	#srf-map-descriptions .key.active {
		color: #e74c34;
	}

	$mapFeatures:
		'neighborhoods',
		'businesses',
		'government',
		'people',
		'housing',
		'healthcare',
		'culture';

		// - [ ] add education? (primary)
		// - [ ] add law? (primary)
		// - [ ] add banks? (always secondary)
		// - [ ] add media? (always secondary)
		// - [x] utilties -> healthcare
		// - [x] communities -> culture

	@each $feature in $mapFeatures {
		:root:has(##{$feature}.active) svg {
			// starts with active feature if it represents it
			g[serif\:id^=#{$feature}] {
				circle, text {
					fill: #e74c34 !important;
				}

				path {
					fill: white !important;
				}
			}

			// contains active feature if it is secondary connection
			g[serif\:id~=#{$feature}] {
				text {
					fill: #e74c34 !important;
				}

				path#icon {
					fill: white !important;
				}
			}

			g[id^=line][id*=#{$feature}] {
				z-index: 1;
				path {
					stroke: #e74c34 !important;
				}
			}
		}
	}
</style>

<script is:inline>
	let mapKeys = document.querySelectorAll('#srf-map-descriptions div.key')
	let mapSvgElement = document.querySelector('#whealthy-community-map')
	let observer = new window.IntersectionObserver(updateMap, {
		rootMargin: '-50% 0% -50% 0%',
	})

	function updateMap(entries, observer) {
		console.log(entries)
		entries.forEach(entry => {
			if (entry.isIntersecting) {
				entry.target.classList.add('active')
			} else {
				entry.target.classList.remove('active')
			}
		})
	}

	mapKeys.forEach(mapKey => {
		observer.observe(mapKey)
	})
</script>
