---
import { TextSection } from 'srf-theme-components';
import { TitleSection, CapitalScroller } from 'jm-srf-components';
import Layout from '../layouts/Page.astro';
import { Icon } from 'astro-icon/components';

import primaryImg from '../../../../assets/imagery/people/pexels-rhema-xplorer-14197790.jpg';
import accentImg from '../../../../assets/imagery/plants/leaves5-edgeB.png';

const seo = {
	title: 'SRF Capital ❦ (W)Health+',
	description: 'Measuring Outcomes, Creating Blended Value Returns. (W)Health+ Universal Impact Measurement.',
};
---

<Layout {seo}>
  <TitleSection
    title="(W)Health+"
    deck="Measuring outcomes. Creating blended value returns."
    primaryImage={primaryImg}
    accentImage={accentImg}
  >
    <h2>(W)Health+ Universal Impact Measurement</h2>
    <p>Capital and organizational value creation is whole and non-divisible. SRF Capital, with our partners, takes an ecosystem-level capital strategy that strengthens and accelerates entrepreneurs, managers, and institutions dedicated to building health and wealth in communities. We know that growth is only meaningful when it is scaled by investment with a clear impact and public value. Our investment thesis gives us the best opportunity to scale investments and lead with Impact.</p>
    <p>SRF Capital’s investments move beyond surface-level investments and categories to provide funding that meaningfully impacts quality of life while producing Impact alpha returns.</p>
  </TitleSection>

  <CapitalScroller>
    <div class="slide">
      <h1>Feral</h1>
      <h2>Capital</h2>
      <p>Capital that only seeks to duplicate, concentrate, and insulate itself for the benefit of its owners</p>
    </div>

    <div class="slide">
      <h1>Wealthy</h1>
      <h2>Capital</h2>
      <p>Inclusion as an investable asset class</p>
    </div>

    <div class="slide">
      <h1>Healthy</h1>
      <h2>Capital</h2>
      <p>Healing and well-being as an investable asset class</p>
    </div>

    <div class="slide">
      <h1>(W)Health</h1>
      <h2>Capital</h2>
      <p>Capital that seeks to improve the quality, duration, and resilience of life through its investment in QALYs</p>
    </div>
  </div>
  </CapitalScroller>

  <TextSection narrow>
    <h3>Duration of Life <Icon name="material-symbols:avg-time-rounded" /></h3>
    <p>Investments in assets that advance the social determinants of health and increase life expectancy through decreased morbidity and mortality rates.</p>

    <h3>Quality of Life <Icon name="material-symbols:heart-plus-rounded" /></h3>
    <p>Investments in outcomes that drive financial stability to bring about greater resources, well-being, and financial security through increased educational attainment, ability to secure investable wages and promotion and ownership opportunities.</p>

    <h3>Resilience of Life <Icon name="material-symbols:shield-rounded" /></h3>
    <p>Investments in outcomes that help communities withstand negative externalities and financial stress, while promoting generational wealth transfer.</p>

    <div class="stack">
        <h2><span class="stick" style="color: #e5243b">No Poverty</span> <span class="spacer">Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty</span> <span class="stick" style="color: #dda63a">Zero Hunger</span> <span class="spacer">Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger </span> <span class="stick" style="color: #4c9f38">Good Health</span> <span class="spacer"> Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health</span> <span class="stick" style="color: #c5192d">Quality Education</span> <span class="spacer">Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education</span> <span class="stick" style="color: #ff3a21">Gender Equality</span> <span class="spacer">Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality</span> <span class="stick" style="color: #26bde2">Clean Water</span> <span class="spacer">Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water</span> <span class="stick" style="color: #fcc30b">Affordable Energy</span> <span class="spacer">Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy</span> <span class="stick" style="color: #a21942">Decent Work</span> <span class="spacer">Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work</span> <span class="stick" style="color: #fd6925">Industry, Innovation, & Infrastructure</span> <span class="spacer">Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure</span> <span class="stick" style="color: #dd1367">Reduced Inequalities</span> <span class="spacer">Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities</span> <span class="stick" style="color: #fd9d24">Sustainable Cities</span> <span class="spacer">Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities</span> <span class="stick" style="color: #bf8b2e">Responsible Consumption</span> <span class="spacer">Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption</span> <span class="stick" style="color: #3f7e44">Climate Action</span> <span class="spacer">Life Below Water Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action</span> <span class="stick" style="color: #0a97d9">Life Below Water</span> <span class="spacer">Life on Land Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water</span> <span class="stick" style="color: #56c02b">Life on Land</span> <span class="spacer">Peace, Justice, & Strong Institutions Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land</span> <span class="stick" style="color: #00689d">Peace, Justice, & Strong Institutions</span> <span class="spacer">Partnerships</span></h2>
        <h2><span class="spacer">No Poverty Zero Hunger Good Health Quality Education Gender Equality Clean Water Affordable Energy Decent Work Industry, Innovation, & Infrastructure Reduced Inequalities Sustainable Cities Responsible Consumption Climate Action Life Below Water Life on Land Peace, Justice, & Strong Institutions</span> <span class="stick" style="color: #19486a">Partnerships</span> <span class="spacer"></span></h2>
    </div>
    <div class="stack">
        <h2><span class="stick">Sustainable</span> <span class="spacer">Development Goals Stacking</span></h2>
        <h2><span class="spacer">Sustainable</span> <span class="stick">Development</span> <span class="spacer">Goals Stacking</span></h2>
        <h2><span class="spacer">Sustainable Development</span> <span class="stick">Goals</span> <span class="spacer">Stacking</span></h2>
        <h2><span class="spacer">Sustainable Development Goals</span> <span class="stick">Stacking</span></h2>
    </div>
    <p>SRF Capital focuses on crafting the (W)Healthy economies of the future by identifying and investing in opportunities that <strong>couple and stack</strong> the <strong><a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">United Nations’ Sustainability and Development Goals</a></strong>.</p>

    <h2>Defining Success</h2>
    <p>SRF Capital employs a capital strategy that strengthens and accelerates the entrepreneurs, leaders, and institutions that have long been dedicated to building health and wealth in their communities. Success is improvement across multiple dimensions of (W)Health on the investment and portfolio level.</p>
  </TextSection>
</Layout>

<style lang="scss">
  .slide {
    * {
      max-width: 400px;
    }

    h1, h2 {
      font-family: var(--font-family-sans);
      margin-block: 5px;
    }

    h1 {
      font-size: min(120px, 10vw);
    }

    h3 {
      background: none;
      padding: 0;
      font-style: italic;
      font-size: 2rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.5rem;
      color: var(--color-light);
    }
  }

  .slidebox div:not(:last-of-type) {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      width: 1rem;
      height: 0;
      animation: 4s chevron-right infinite;

      // triangles
      border-style: solid;
      border-width: 2em 0 2em 2rem;
      border-color: transparent transparent transparent var(--color-light);
      z-index: -1;

      @for $i from 0 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: #{$i}s;
        }
      }
    }
  }

  @keyframes chevron-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    20%, 80% {
      opacity: 1;
    }
    to {
      transform: translateX(500%);
      opacity: 0;
    }
  }

  .stack {
    h2 {
      position: sticky;
      top: 20%;
      .spacer {
        opacity: 0.01;
      }
    }
  }
</style>
