---
import '../styles/theme.css'

import { Icon } from 'astro-icon/components'

import { Button } from 'srf-theme-components';
import { BaseHtml, Header, Footer, config } from 'jm-srf-components';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import settings from '../config/settings';

import logoImpHoriPrimy from '@assets/logos/srf_impact_wordmark_horizontal_primary.svg';
import logoImpIconPrimy from '@assets/logos/srf_impact_brackets_primary.svg';
import logoImpStacWhite from '@assets/logos/srf_impact_wordmark_stacked_white.svg';

import logoCapHoriWhite from '@assets/logos/srf_capital_wordmark_horizontal_white.svg';
import logoCapIconWhite from '@assets/logos/srf_capital_brackets_white.svg';
import logoCapStacWhite from '@assets/logos/srf_capital_wordmark_stacked_white.svg';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---
<BaseHtml seo={seo}>
	<Header slot="header">
		<img slot="logo-full" class="logo-full" src={logoImpHoriPrimy.src} alt="SRF Impact">
		<img slot="logo-icon" class="logo-icon" src={logoImpIconPrimy.src} alt="SRF Impact">
		<Fragment slot="left">
			<a href="/about">About</a>
			<a href="/areas-of-focus">Areas of Focus</a>
			<a href="/strategy">Strategy</a>
			<a href="/get-involved">Get Involved</a>
			<a href="/whealth-capital-project">The (W)Health Capital Project</a>
		</Fragment>
		<Fragment slot="right">
			<!-- <a href="/insights">Insights</a> TODO: subdomain? -->
			<a class="to-srfcapital logo-container" href={config.srfCapitalUrl}>
				<img class="logo-full" src={logoCapHoriWhite.src} alt="SRF Capital">
				<img class="logo-icon" src={logoCapIconWhite.src} alt="SRF Capital">
			</a>
		</Fragment>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer>
		<img slot="logo" class="logo" src={logoImpStacWhite.src} alt="SRF Impact">

		<a slot="sitenav" href="/about">About</a>
		<a slot="sitenav" href="/areas-of-focus">Areas of Focus</a>
		<a slot="sitenav" href="/strategy">Strategy</a>
		<a slot="sitenav" href="/get-involved">Get Involved</a>
		<a slot="sitenav" href="/whealth-capital-project">The (W)Health Capital Project</a>

		<a slot="contact" class="button" href="mailto:dorian@srfcapital.com">
			<Icon size="1.5em" name="material-symbols:mail-rounded" /> Contact
		</a>
	</Footer>
</BaseHtml>
