---
import '../styles/theme.css'

import { Button, Footer } from 'srf-theme-components';
import { BaseHtml, Header, config } from 'jm-srf-components';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---
<BaseHtml seo={seo}>
	<Header slot="header">
		<Fragment slot="left">
			<a href="/about">About</a>
			<a href="/strategy">Strategy</a>
			<a href="/impact">Impact</a>
			<a href="/whealth-papers">The (W)Health Papers</a>
		</Fragment>
		<img slot="logo-full" class="logo-full" src="/assets/images/srf_impact_wordmark.svg" alt="SRF Impact Logo">
		<img slot="logo-icon" class="logo-icon" src="/assets/images/srf_impact_stacked.svg" alt="SRF Impact Logo">
		<Fragment slot="right">
			<a href="mailto:dorian@whealthfund.com">Contact</a>
			<a class="special to-srfcapital" href={config.srfCapitalUrl}>SRF Capital</a>
		</Fragment>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</BaseHtml>
