---
import '../styles/theme.css'

import { Icon } from 'astro-icon/components'

import { Button } from 'srf-theme-components';
import { BaseHtml, Header, Footer, config } from 'jm-srf-components';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import settings from '../config/settings';

import logoCapHoriPrimy from '@assets/logos/srf_capital_wordmark_horizontal_primary.svg';
import logoCapIconPrimy from '@assets/logos/srf_capital_brackets_primary.svg';
import logoCapStacWhite from '@assets/logos/srf_capital_wordmark_stacked_white.svg';

import logoImpHoriWhite from '@assets/logos/srf_impact_wordmark_horizontal_white.svg';
import logoImpIconWhite from '@assets/logos/srf_impact_brackets_white.svg';
import logoImpStacWhite from '@assets/logos/srf_impact_wordmark_stacked_white.svg';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---
<BaseHtml seo={seo}>
	<Header slot="header">
		<img slot="logo-full" class="logo-full separator" src={logoCapHoriPrimy.src} alt="SRF Capital">
		<img slot="logo-icon" class="logo-icon" src={logoCapIconPrimy.src} alt="SRF Capital">
		<Fragment slot="main-nav-items">
			<a href="/meet">Meet</a>
			<a href="/strategize">Strategize</a>
			<a href="/theorize">Theorize</a>
			<a href="/whealth+">(W)Health+</a>
			<a href="/community">Community</a>
			<a class="to-srfimpact logo-container" href={config.srfImpactUrl}>
				<img class="logo-full" src={logoImpHoriWhite.src} alt="SRF Impact">
				<img class="logo-icon" src={logoImpIconWhite.src} alt="SRF Impact">
			</a>
			<!-- <a href="/insights">Insights</a> TODO: subdomain? -->
		</Fragment>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer>
		<img slot="logo" class="logo" src={logoCapStacWhite.src} alt="SRF Capital">

		<a slot="sitenav" href="/meet">Meet</a>
		<a slot="sitenav" href="/strategize">Strategize</a>
		<a slot="sitenav" href="/theorize">Theorize</a>
		<a slot="sitenav" href="/whealth+">(W)Health+</a>
		<a slot="sitenav" href="/community">Community</a>

		<a slot="contact" class="button" href="mailto:info@srf.capital">
			<Icon size="1.5em" name="material-symbols:mail-rounded" /> Contact
		</a>
	</Footer>
</BaseHtml>
