---
import { Button, Footer } from 'srf-theme-components';
import { Header, config } from 'jm-srf-components';
import Layout from './Base.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';
import Logo from '../components/Logo.astro';
import settings from '../config/settings';
import { footerLists, footerSocials } from '../config/footer';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---
<Layout seo={seo}>
	<Header slot="header">
		<Fragment slot="left">
			<a href="/about">Who We Are</a>
			<a href="/strategize">Strategize</a>
			<a href="/theorize">Theorize</a>
			<a href="/measure">Measure</a>
			<a href="/community">Community</a>
		</Fragment>
		<img slot="logo" src="/assets/images/srf_impact_stacked.svg" alt="SRF Impact Logo">
		<Fragment slot="right">
			<!-- <a href="/insights">Insights</a> TODO: subdomain? -->
			<a href={config.srfImpactUrl}>SRF Impact</a>
		</Fragment>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		background="var(--theme-surface-1)"
		color="var(--theme-on-surface-1)"
		footerLists={footerLists}
    footerSocials={footerSocials}
		copyrightName={settings.name}
    showLittleSticksPlug={settings.showLittleSticksPlug}
	>
		<Logo slot="logo" />
	</Footer>
</Layout>
