---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components';

import neighborhoodsImg from '@landscape/pexels-michael-tuszynski-2255938.jpg';
import businessImg from '@people/pexels-caio-64609.jpg';
import housingImg from '@people/pexels-cottonbro-4568712.jpg'
import educationImg from '@people/pexels-mary-taylor-5896812.jpg'
import lawImg from '@people/pexels-ekaterina-bolovtsova-6077447.jpg'
import healthImg from '@people/iStock-1058393584.jpg'
import governmentImg from '@people/pexels-mikhail-nilov-8846069.jpg'
import identityImg from '@people/iStock-1364679535.jpg'
---
<section id="srfmap-container">

  <div class="srfmap-slide" id="neighborhoods">
    <div class="image">
      <Image src={neighborhoodsImg} alt="Top-down view of a residential neighborhood"/>
    </div>
    <div class="text">
      <h2>Neighborhoods</h2>
      <h3>Safe Neighborhoods & Community Autonomy</h3>
      <p>Residents should feel secure and safe in their home and in their neighborhood, free from the presence of violence and/or overly policed environments.</p>
      <p>Neighbors should have the collective autonomy and resources to find solutions to their problems, with the unencumbered and “no-strings-attached” support of private and public partners.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="business">
    <div class="image">
      <Image src={businessImg} alt="Young man cutting keys in a workshop"/>
    </div>
    <div class="text">
      <h2>Business</h2>
      <h3>Plentiful Employment and Business Opportunities</h3>
      <p>Residents must have the basic means to acquire and access work opportunities within their community that provide a safety net, while working to develop and  invest in wealth-building opportunities.</p>
      <p>Jobs should have basic benefits, career building opportunities, wealth-building opportunities, and a fair and engaging workplace.</p>
      <p>Communities should have a critical mass of business ownership to prevent economic leakage by ensuring that dollars and resources remain in the community and that long-term wealth generation can be built.</p>
      <p>Local businesses should be competitive and integrated into their regional economies. They should be included in the finance, technology, and information networks regarding trading partners to learn how information flows to both existing businesses and new entrepreneurs.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="housing">
    <div class="image">
      <Image src={housingImg} alt="A young girl plays with bubble wrap, unpacking in a new home"/>
    </div>
    <div class="text">
      <h2>Housing</h2>
      <h3>Safe, Affordable and Secure Housing</h3>
      <p>Well-maintained housing should be affordable for current residents and market rate financing and insurance should be affordable for housing investments.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="education">
    <div class="image">
      <Image src={educationImg} alt="Kids playing in a schoolyard"/>
    </div>
    <div class="text">
      <h2>Education</h2>
      <h3>Safe & Effective Schools</h3>
      <p>Schools should provide students civics lessons and teach them how our government entities operate. Students should acquire the skills and necessary habits to make educated decisions and to positively contribute to our democratic system. </p>
      <p>Students should acquire levels of academic proficiency needed to attend college or  secure some type of post-secondary vocational certification with labor market value that leads to gainful employment and a career of their choosing.</p>
      <p>School curriculums and instructions should be culturally competent and responsive, while ensuring that students learn social connectivity and self-efficacy/agency.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="law">
    <div class="image">
      <Image src={lawImg} alt="Judge writing, behind a court gavel"/>
    </div>
    <div class="text">
      <h2>Law</h2>
      <h3>A Fair Justice System</h3>
      <p>People should be tried by a jury of their peers and people from their immediate communities when they are brought to trial.</p>
      <p>Neighbors should be supported by the criminal justice system in their community-based (W)Health justice practices and self-policing activity.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="health">
    <div class="image">
      <Image src={healthImg} alt="Doctors walking in a hospital"/>
    </div>
    <div class="text">
      <h2>Health</h2>
      <h3>Access to Reliable and Affordable Health Care</h3>
      <p>Reliable and affordable health care should be readily available with quality physicians and practitioners focused on the health and well-being of their patients through quality health care, nutritious food, and physical activity.</p>
      <p>Communities should have access to fresh, affordable produce and local groceries in close proximity to where they live.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="government">
    <div class="image">
      <Image src={governmentImg} alt="Young man filling out a ballot"/>
    </div>
    <div class="text">
      <h2>Government</h2>
      <h3>Truly Representative Local Governments</h3>
      <p>Neighborhoods should have equal voice in determining local political outcomes without systemic barriers and, as tax-paying citizens, receive quality services without having to spend continuous energy and resources on advocacy.</p>
      <p>Communities should be <strong>free of predatory revenue streams</strong> collected by municipalities, counties, and cities, and predatory financial institutions.</p>
    </div>
  </div>

  <div class="srfmap-slide" id="identity">
    <div class="image">
      <Image src={identityImg} alt="Folks of all ages in a community garden, learning"/>
    </div>
    <div class="text">
      <h2>Identity</h2>
      <h3>Control over Their Public Identity and Cultural Institutions</h3>
      <p>Communities should have equal representation in media outlets while being able to offer comprehensive narratives on their community and the way media represents them to external parties.</p>
      <p>Public arts and cultural institutions should have dedicated spaces that reflect community interest. Institutions that celebrate a community’s culture and heritage should be readily available, as should creative spaces that expose residents to a diversity of different cultural, ethnic, social, and sexual orientations.</p>
    </div>
  </div>

  <nav id="srfmap-diagram">
    <div class="icon ao-business ao-housing ao-identity" id="srfmap-icon-individuals" href="#housing">
      <span class="label">Individuals</span>
      <Icon name="material-symbols:person-rounded" />
    </div>
    <div class="icon ao-neighborhoods ao-housing ao-education ao-health ao-government" id="srfmap-icon-infrastructure" href="#neighborhoods">
      <span class="label">Infrastructure</span>
      <Icon name="material-symbols:construction-rounded" />
    </div>
    <div class="icon ao-business ao-housing ao-identity" id="srfmap-icon-commerce" href="#businesses">
      <span class="label">Commerce</span>
      <Icon name="material-symbols:sell" />
    </div>
    <!--
    <div class="icon" id="srfmap-icon-community" href="#community">
      <span class="label">Community</span>
      <Icon name="material-symbols:group-rounded" />
    </div>
    -->
    <div class="icon ao-law ao-government" id="srfmap-icon-government" href="#government">
      <span class="label">Government</span>
      <Icon name="material-symbols:gavel-rounded" />
    </div>
    <div class="icon ao-education ao-law ao-government" id="srfmap-icon-institutions" href="#healthcare">
      <span class="label">Institutions</span>
      <Icon name="material-symbols:account-balance-rounded" />
    </div>
    <div class="icon ao-identity ao-neighborhoods" id="srfmap-icon-culture" href="#identity">
      <span class="label">Culture</span>
      <Icon name="material-symbols:draw-abstract" />
    </div>
  </nav>

  <nav id="srfmap-nav">
    <a class="ao-neighborhoods" href="#neighborhoods"></a>
    <a class="ao-business" href="#business"></a>
    <a class="ao-housing" href="#housing"></a>
    <a class="ao-education" href="#education"></a>
    <a class="ao-law" href="#law"></a>
    <a class="ao-health" href="#health"></a>
    <a class="ao-government" href="#government"></a>
    <a class="ao-identity" href="#identity"></a>
  </nav>
</section>

<style lang="scss">
  :global(html) {
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 3rem; // header height

    section {
      scroll-snap-align: start;
    }
  }

  #srfmap-container {
    max-width: 1440px;
    margin-inline: auto;
  }

  .srfmap-slide {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    min-height: 100vh;
    justify-content: center;

    h2 {
      font-size: 3rem;
      color: var(--color-secondary);
    }

    h3 {
      background: none;
      color: currentColor;
      padding: 0;
      text-wrap: balance;
    }

    .image {
      flex-basis: 45%;
      min-height: 100vh;

      :global(img) {
        height: 100%;
        object-fit: cover;
        // TODO: animate object-position
      }
    }

    @media (max-width: 768px) {
      & {
        flex-direction: column;

        .image {
          position: sticky;
          top: 0;
          height: 150vh;
          margin-bottom: -100vh;
        }
      }
    }

    .text {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // TODO: animate pos-y for parallax
      z-index: 1;
      background-color: var(--color-light);
      opacity: 0.95;
    }
  }

  #srfmap-nav {
    z-index: 1;
    position: fixed;
    height: 100vh;
    right: 2rem;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;

    a {
      display: block;
      height: 2rem;
      background-color: var(--color-light-tinted);
      opacity: 0.8;
      margin: 0.5rem;

      &.active {
        background-color: var(--color-pop);
        box-shadow: 0 0 3px 1px var(--color-dark);
      }
    }
  }

  #srfmap-diagram {
    margin-block: 2rem;
    z-index: 1;
    position: sticky;
    bottom: 1rem;
    left: 1rem;
    width: min-content;
    min-width: 700px;
    max-width: 90vw;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;

    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-inline: 1rem;
      &:first-of-type {
        margin-inline-start: 0;
      }
      &:last-of-type {
        margin-inline-end: 0;
      }

      :global(svg) {
        width: 2rem;
        height: 2rem;
        box-sizing: content-box;
        padding: 1rem;
        border-radius: 50%;
        border: 3px solid transparent;
        background-color: transparent;
        transition: all 1s ease;
      }

      .label {
        visibility: hidden;
        margin-block: 0.5rem;
        margin-inline: 0;
        font-size: 12px;
        font-weight: 500;
      }

      transition: all 1s ease;
      &.active {
        margin-inline: 0;

        .label {
          visibility: visible;
        }

        :global(svg) {
          border-color: var(--color-dark);
          background-color: var(--color-light);
        }
      }

      &:hover {
        .label {
          visibility: visible;
        }

        :global(svg) {
          background-color: var(--color-light-tinted);
        }
      }
    }
  }

  *[class^='ao-'] {
    transition: all 1s ease;
  }
</style>

<script is:inline>
  let currentlyActiveId = null;
  let observer = new window.IntersectionObserver(updateMap, {
    rootMargin: '-50% 0% -50% 0%',
  })

  function updateMap(entries, observer) {
    console.log(entries)
    entries.forEach(entry => {
      if (entry.isIntersecting && entry.target.id != currentlyActiveId) {
        currentlyActiveId = entry.target.id
        document.querySelectorAll('.active').forEach(
          el => el.classList.remove('active')
        )
        document.querySelectorAll(`.ao-${currentlyActiveId}`).forEach(
          el => el.classList.add('active')
        )
      }
    })
  }

  document.querySelectorAll('.srfmap-slide').forEach(slide => {
    observer.observe(slide)
  })
</script>
