---
import { TextSection } from 'srf-theme-components';
import { BrightSection, TitleSection, ParallaxSection } from 'jm-srf-components'
import Layout from '../layouts/Page.astro';

import bannerLogo from '@assets/logos/srf_impact_banner_edgeL.png'
import accentImg from '@people/iStock-1397927301.jpg'

const seo = {
	title: 'SRF Impact ❦ About',
	description: 'What if we invested from the perspective that impact and capital can serve everyone? And if we did, how could we accelerate the use of capital and the universe of impact towards a just and inclusive transition? What would a future look like where all people had a true opportunity to thrive in place?',
};
---

<Layout {seo}>
	<TitleSection
    primaryImage={null}
    accentImage={null}
    bannerImage={bannerLogo}
    deck="What would a future look like where all people had a true opportunity to thrive in place?"
    hideBrightSection={true}
  >
	</TitleSection>
  <ParallaxSection
    backgroundImage={accentImg}
    tint={false}
  />
  <BrightSection>
    <h1>Origins & Mission</h1>
    <p>
      What if we invested from the perspective that impact and capital can serve everyone? And if we did, how could we accelerate the use of capital and the universe of impact towards a just and inclusive transition? What would a future look like where all people had a true opportunity to thrive in place?
    </p>
    <p>
      SRF Impact is the companion to SRF Capital, built by the next generation of impact investors to pursue the highest and best use of capital. We don’t assume we have all the answers, but we are committed to asking better questions and co-creating bold solutions alongside visionary, values-aligned collaborators. We work with proximate leaders, values-aligned capital allocators, and multinational institutions that are reimagining what finance can do in service of equity, innovation, and long-term prosperity. Together, we invest in designing the systems, tools, and ideas that move capital with purpose and build a future where finance fuels human potential, where economic utility reflects equity, and where capital systems unlock shared prosperity and generational strength.
    </p>
  </BrightSection>
</Layout>
